.profile__edit-button {
    background: url("../../../images/edit_button.svg");
    width: 24px;
    height: 24px;
    margin: 0 0 8px 18px;
    border: none;
    cursor: pointer;
    background-size: cover;
    box-sizing: border-box;
}

.profile__edit-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 960px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
        margin-left: 10px;
        margin-bottom: 0;
    }
}