.popup__input {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    width: 358px;
    padding: 0 0 8px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 960px) {
    .popup__input {
        width: 238px;
    }
}