.profile {
    display: flex;
    max-width: 880px;
    margin: auto;
    padding-top: 36px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 960px) {
    .profile {
        flex-direction: column;

    }
}