.popup-edit__description {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    width: 358px;
    margin: 0 auto 30px;
    padding: 0 0 13px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 960px) {
    .popup-edit__description {
        width: 238px;
        margin-bottom: 45px;
    }
}