.profile__name {
    color: #fff;
    margin: 0;
    font-size: 42px;
    font-weight: 400;
    line-height: 48px;
    max-width: 500px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 960px) {
    .profile__name {
        font-size: 27px;
        line-height: 33px;
        text-align: center;
        max-width: 400px;
    }
}

@media screen and (max-width: 580px) {
    .profile__name {
    max-width: 250px;
}
}