.popup-edit__submit-button {
    margin: 0 auto;
    padding: 0;
    width: 358px;
    height: 50px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}

.popup-edit__submit-button:hover {
    opacity: 0.8;
}

@media screen and (max-width: 960px) {
    .popup-edit__submit-button {
        width: 238px;
        height: 46px;
        font-size: 14px;
        line-height: 17px;
    }
}